/* ===== GENERELT ===== */
section {
  max-width: 1200px;
  margin: 0 auto 8rem;
  padding: 0 1rem;
    background: var(--bg-base);
}



/* ===== ABOUT ===== */
.about-grid {
    margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
    align-items: center;
}

.about-left img,
.experience-left img {
  width: 100%;
  max-width: 320px;
}

.about-right hr,
.experience-right hr,
.mind-boost hr {
  border: none;
  border-top: 1px solid #999;
  margin: 1.5rem 0;
  font-family: var(--font-h1-var2);
}



/* ===== MIND BOOST ===== */
.mind-boost {
  max-width: 1200px;
}

/* ===== RUN / STRAVA ===== */
.run {
   position: relative;
  width: 100vw;
  height: 85vh;
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  overflow: hidden;
}

.run img {
     width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.run-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: rgba(0, 0, 0, 0.45);color: white;
  text-align: center;
  font-family: var(--font-h1-var2);
}

.run-overlay h1 {
  font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
}
